<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<!--头部引入bootstrap-->
	<include file="./Application/Common/Public/layout/head.html"/>

	<title>我的订单 - 宜优速</title>
</head>
<body>
<!--引入导航条-->
<include file="./Application/Common/Public/layout/nav.html"/>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<!--顶端广告-->
			<a href="javascript:void(0);">
				<img src="{:W_ROOT_IMG}top_banner.png" alt="宜优速欢迎您" width="100%"/>
			</a>
		</div>
	</div>
</div>

<!--二级导航-->
<include file="./Application/Common/Public/layout/nav2.html"/>

<!--主体内容-->
<div class="container">
	<!--订单内容-->
	<div class="row">
		<div class="col-sm-12">
			<div class="page-header">
				<h3>
					我的订单
					<small>
						<a href="javascript:void(0);">所有订单</a>
						<a href="javascript:void(0);">待付款</a>
						<a href="javascript:void(0);">待发货</a>
						<a href="javascript:void(0);">已发货</a>
						<a href="javascript:void(0);">配送完成</a>
					</small>
				</h3>
			</div>
			<php>foreach($orderFormInfo as $orderFormItem):</php>
			<table class="table table-responsive">
				<tr class="bg-primary">
					<td>日期</td>
					<td>总金额</td>
					<td>订单号</td>
					<td colspan="3">支付结果：{$orderFormItem['order_form_status_name']}</td>
				</tr>
				<tr class="bg-info">
					<td>{:a4getDatetime($orderFormItem['create_time'],'datetime')}</td>
					<td>￥ {$orderFormItem['price']}</td>
					<td colspan="3">{$orderFormItem['no']}</td>
					<td>
						<?php if($orderFormItem['f_order_form_status_id'] == 2):?>
						<a class="btn btn-danger" href="{:U('home/user/refund')}?no={$orderFormItem['no']}">申请退款</a>
						&nbsp;&nbsp;
						<a class="btn btn-default" href="javascript:void(0);" name="{$orderFormItem['no']}" onclick="funDelOrderForm(this)">删除订单</a>
						<?php else:?>
						<a class="btn btn-default" href="javascript:void(0);" name="{$orderFormItem['no']}" onclick="funDelOrderForm(this)">删除订单</a>
						<?php endif;?>
					</td>
				</tr>
				<php>foreach($orderFormItem['orderGoods'] as $orderGoodsItem):</php>
				<tr>
					<td>
						<img src="{:W_ROOT_IMG}1.jpg" alt="{$orderFormItem['goods']['name']}" height="100px">
						<br>
						{$orderGoodsItem['goods']['name']}
					</td>
					<td>×{$orderGoodsItem['number']}</td>
					<td>单价：￥ {$orderGoodsItem['goods']['price']}</td>
					<td class="text-left" colspan="3">
						小计：￥ {$orderGoodsItem['goods']['price']*$orderGoodsItem['number']}
					</td>
				</tr>
				<php>endforeach;</php>
			</table>
			<php>endforeach;</php>
		</div>
	</div>
</div>
<!--主体内容<FINISH>-->

<!--footer引入-->
<include file="./Application/Common/Public/layout/footer.html"/>

<!--javascript-->
<script language="javascript" type="text/javascript" charset="utf-8">

	/**
	 * @todo 删除订单
	 */
	funDelOrderForm = function (OBJ) {
		$.ajax({
			url: '{:U("home/user/ajaxDelOrderForm")}',
			type: 'post',
			data: 'no=' + OBJ.name,
			success: function (ret) {
				if (ret == 1) {
					showSuccessModal('删除订单', '删除成功', function () {
						location.reload();
					});
				} else {
					showFailModal('删除订单', ret);
				}
			}
		});
	}
</script>
</body>
</html>