<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<!--头部引入bootstrap-->
	<include file="./Application/Common/Public/layout/head.html"/>
	<title>宜优速</title>
</head>
<body>
<!--引入导航条-->
<include file="./Application/Common/Public/layout/nav.html"/>

<!--主体内容-->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<a href="#">
				<img src="{:W_ROOT_IMG}top_banner.png" alt="宜优速欢迎您" width="100%"/>
			</a>
		</div>
	</div>
</div>

<!--二级导航-->
<include file="./Application/Common/Public/layout/nav2.html"/>

<!--横幅-->
<include file="./Application/Common/Public/layout/banner.html"/>


<!--主体内容-->
<div class="container"></div>
<!--主体内容<FINISH>-->

<!--footer引入-->
<include file="./Application/Common/Public/layout/footer.html"/>

<!--javascript-->
<script language="javascript" type="text/javascript" charset="utf-8">
</script>
</body>
</html>