<div class="footer">
	<div class="footer-center">
			<ul class="footer-left1">
				<li class="list">关于易优速</li>
				<li><a href="#">公司简介</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">公司文化</a></li>
			</ul>

			<ul class="footer-left2">
				<li class="list">支付方式</li>
				<li><a href="#">货到付款</a></li>
				<li><a href="#">在线支付</a></li>
				<li><a href="#">公司转账</a></li>
			</ul>
			<ul class="footer-left3">
				<li class="list">联系我们</li>
				<li><a href="#">联系方式</a></li>
				<li><a href="#">留言反馈</a></li>
				<li><a href="#">销售网络</a></li>
			</ul>
			<ul class="footer-left4">
				<li><img src="{:W_ROOT_IMG}banner3.jpg" alt=""></li>
			</ul>
	</div>
</div>

<div class="copyright">
		<p>版权所有：易优速 @2016 All Rights Reserved 某某某：某某某</p>
</div>
