<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

<!-- Bootstrap -->
<link href="{:W_ROOT_BS}/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="{:W_ROOT_BS}/js/html5shiv.min.js"></script>
<script src="{:W_ROOT_BS}/js/respond.min.js"></script>
<![endif]-->

<!--modal引入-->
<include file="./Application/Common/Public/layout/modal.html"/>
<!--confirm引入-->
<include file="./Application/Common/Public/layout/confirm.html"/>
<!--引入jquery-->
<script src="{:W_ROOT_BS}/js/jquery.min.js"></script>
<!--引入bootstrap js-->
<script src="{:W_ROOT_BS}/js/bootstrap.min.js"></script>