<!--二级导航栏-->
<nav class="navbar navbar-inverse">

<div class="row col-md-12">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  	<ul class="nav navbar-nav navbar-left ">
			<!--酒店用品专区下拉菜单-->
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">酒店用品专区 <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{:U('home/hotelWineshop/paper')}?goodsTypeName=酒店用纸">酒店用纸</a></li>
					<li><a href="{:U('home/hotelWineshop/guestRoomGoods')}?goodsTypeName=客房用品">客房用品</a></li>
					<li><a href="{:U('home/hotelWineshop/cleaning')}?goodsTypeName=酒店清洁">清洁用品</a></li>
					<li><a href="{:U('home/hotelWineshop/guestRoomLinen')}?goodsTypeName=客房布草">客房布草</a></li>
					<li><a href="{:U('home/hotelWineshop/repayableGoods')}?goodsTypeName=有偿用品">有偿用品</a></li>
					<li><a href="{:U('home/hotelWineshop/electrical')}?goodsTypeName=电器专区">电器专区</a></li>
					<!--<li role="separator" class="divider"></li>-->
				</ul>
			</li>
			<!--饭店用品专区下拉菜单-->
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">饭店用品专区 <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{:U('home/hotel/paper')}?goodsTypeName=饭店用纸">饭店用纸</a></li>
					<li><a href="{:U('home/hotel/dinnerware')}?goodsTypeName=餐具专区">餐具专区</a></li>
					<li><a href="{:U('home/hotel/cleaning')}?goodsTypeName=饭店清洁">清洁用品</a></li>
					<li><a href="{:U('home/hotel/hotelLinen')}?goodsTypeName=饭店布草">饭店布草</a></li>
					<li><a href="{:U('home/hotel/sundry')}?goodsTypeName=杂货专区">杂货专区</a></li>
				</ul>
			</li>
			<!--娱乐养生专区下拉菜单-->
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">娱乐养生专区 <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{:U('home/amusementAndKeepHealth/scouringBathCommonGoods')}?goodsTypeName=洗浴通货">洗浴通货</a></li>
					<li><a href="{:U('home/amusementAndKeepHealth/bath')}?goodsTypeName=泡澡专区">泡澡专区</a></li>
					<li><a href="{:U('home/amusementAndKeepHealth/batheFoot')}?goodsTypeName=沐足专区">沐足专区</a></li>
					<li><a href="{:U('home/amusementAndKeepHealth/usualMaquillage')}?goodsTypeName=日化用品">日化用品</a></li>
					<li><a href="{:U('home/amusementAndKeepHealth/cooperationBathe')}?goodsTypeName=合作洗浴">合作洗浴</a></li>
					<li><a href="{:U('home/amusementAndKeepHealth/batheLinen')}?goodsTypeName=洗浴布草">洗浴布草</a></li>
				</ul>
			</li>
			<!--娱乐养生专区下拉菜单-->
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">居家用品专区 <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{:U('home/homeAppliances/homeAppliances')}?goodsTypeName=居家用品">居家用品</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">居家用品专区 <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{:U('home/homeAppliances/homeAppliances')}?goodsTypeName=居家用品">居家用品</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">居家用品专区 <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{:U('home/homeAppliances/homeAppliances')}?goodsTypeName=居家用品">居家用品</a></li>
				</ul>
			</li>
			
			
	</ul>
	</div>
  <div class="col-md-1"></div>
</div>
</nav>



	<!-- <div class="container">
		<ul class="nav navbar-nav navbar-left ">
		
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">酒店用品专区 <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{:U('home/hotelWineshop/paper')}?goodsTypeName=酒店用纸">酒店用纸</a></li>
					<li><a href="{:U('home/hotelWineshop/guestRoomGoods')}?goodsTypeName=客房用品">客房用品</a></li>
					<li><a href="{:U('home/hotelWineshop/cleaning')}?goodsTypeName=酒店清洁">清洁用品</a></li>
					<li><a href="{:U('home/hotelWineshop/guestRoomLinen')}?goodsTypeName=客房布草">客房布草</a></li>
					<li><a href="{:U('home/hotelWineshop/repayableGoods')}?goodsTypeName=有偿用品">有偿用品</a></li>
					<li><a href="{:U('home/hotelWineshop/electrical')}?goodsTypeName=电器专区">电器专区</a></li>
					
				</ul>
			</li>
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">饭店用品专区 <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{:U('home/hotel/paper')}?goodsTypeName=饭店用纸">饭店用纸</a></li>
					<li><a href="{:U('home/hotel/dinnerware')}?goodsTypeName=餐具专区">餐具专区</a></li>
					<li><a href="{:U('home/hotel/cleaning')}?goodsTypeName=饭店清洁">清洁用品</a></li>
					<li><a href="{:U('home/hotel/hotelLinen')}?goodsTypeName=饭店布草">饭店布草</a></li>
					<li><a href="{:U('home/hotel/sundry')}?goodsTypeName=杂货专区">杂货专区</a></li>
				</ul>
			</li>
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">娱乐养生专区 <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{:U('home/amusementAndKeepHealth/scouringBathCommonGoods')}?goodsTypeName=洗浴通货">洗浴通货</a></li>
					<li><a href="{:U('home/amusementAndKeepHealth/bath')}?goodsTypeName=泡澡专区">泡澡专区</a></li>
					<li><a href="{:U('home/amusementAndKeepHealth/batheFoot')}?goodsTypeName=沐足专区">沐足专区</a></li>
					<li><a href="{:U('home/amusementAndKeepHealth/usualMaquillage')}?goodsTypeName=日化用品">日化用品</a></li>
					<li><a href="{:U('home/amusementAndKeepHealth/cooperationBathe')}?goodsTypeName=合作洗浴">合作洗浴</a></li>
					<li><a href="{:U('home/amusementAndKeepHealth/batheLinen')}?goodsTypeName=洗浴布草">洗浴布草</a></li>
				</ul>
			</li>
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">居家用品专区 <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{:U('home/homeAppliances/homeAppliances')}?goodsTypeName=居家用品">居家用品</a></li>
				</ul>
			</li>
		</ul>
		
	</div>
 -->